<HTML>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="styles.css" > 

    <HEAD>
        <TITLE>
            Login Page
        </TITLE>
    </HEAD>

    <BODY>
    <div class="h1">
        <H1> 
            Kitten Factory
        </H1>
    </div>
    
    <form method="post" action="\kittenfactory/home/">
        Username:<br>
        <input type="text" name="username"><br>
        Password:<br>
        <input type="text" name="password">
        <input type='submit' value="OK">
    </form>
    </BODY>


</HTML>