<!DOCTYPE html>
<html lang="en">
<head>{% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page - Kitten Factory</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <h1 class="text-center">Kitten Factory</h1>
    
    {% if form.errors %}
    <p class="alert alert-danger">Your username and password didn't match. Please try again.</p>
    {% endif %}
    
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>
        <button type="button" id="loginButton" class="btn btn-default">Login</button>
    </form>
    
    <div class="text-center">
        <a href="{% url 'signup' %}">Sign up</a>
</div>

</body>
<script>//Takes user back home once they log in. No validation
    document.getElementById('loginButton').addEventListener('click', function() {
        console.log("Login function called");
        window.location.href = "/kittenfactory/";
    });

        
</script>
</html>