<!-- payments/templates/payments/make_payment.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Make a Payment</title>
</head>
<body>
    <h1>Buy Skis</h1>
    <form action="{% url 'view-payments' %}" method="post">
        {% csrf_token %}
        <label for="amount">Amount$:</label>
        <input type="text" id="amount" name="amount"><br>
        <label for="description">Product Name:</label>
        <input type="text" id="description" name="description"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>