
<h1>Product Listing</h1>
{% if products %}
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Makeup</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>${{ product.price }}</td>
                <td>{{ product.makeup }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'order-form' %}"> Order Products </a>
    
{% else %}
    <p>No products available.</p>
{% endif %}
